@page "/movies"
@inject IMovieService MovieService
@inject UserAccessor UserAccessor
@attribute [StreamRendering(true)]

<PageTitle>Movies</PageTitle>

<h1>Movie List</h1>

@if(movies == null)
{
    <span>Loading...</span>
}
else if(movies.Count == 0)
{
    <p><span>No movies found.</span></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Release year</th>
                <th>Watched year</th>
                <th>Viewing format</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Did I enjoy/like it?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.ReleaseYear</td>
                    <td>@movie.WatchedYear</td>
                    <td>@movie.ViewingForm</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Director</td>
                    <td>@movie.Review</td>
                    <td><EditMovieButton Id="@movie.Id" /></td>
                    <td><DeleteMovieButton Id="@movie.Id" /></td>
                </tr>
            }
        </tbody>
    </table>
}
<CreateMovieButton />

@code {
    private ApplicationUser _user = default!;
    private List<Movie> movies = new();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync();
        movies = await MovieService.GetAllMovies(_user.Id);
    }
}
